dd.p-0{
	padding:0;
}
.p-0 {
    padding: 0;
}

.map-wrapper{
    position: relative;

   #sotogrande {
	    height:500px;
	    width: 100%
    }
     .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }
}

.a-link{
	color: #4a8666;
	text-decoration: underline;

	&:hover, &:focus{
		color: #3F6651;
	}
}

.gap{
    display: block;
    width: 100%;
}

.gap-6em{
    height: 6em;
}

.gap-2em{
    height: 0em;
}

.gap-10em{
    height: 10.2em;
}   

.gap-3em{
    height: 3em;
}   

.map-tabs{
    position: absolute;
    top: 20%;
    z-index: 2;
    background-color: #fff;
    width: 340px;
    height: 240px;
}

.map-controls {
    background-color: #fff;
    color: #333;
    padding: 30px;
    float:right;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 340px;
    z-index: 10;
}

.mapLegend{
    list-style: none;
    padding-left: 0; 

    li{
        color: #3e3e3e;
        font-size: 18px;
        padding: 10px 15px;
        transition: .2s linear all;
        .fa-map-marker {
            color: @brand-base;
            fonst-size: 25px;
            padding-right: 16px;
        }

        &:hover{
            cursor: pointer;
            background-color: #28553d;
            color: #fff;
            .fa-map-marker {
                color: #fff;
            }
        }
    }  
}


 .mapImg {
    float: right;
    margin: 2px 0 0 2px;
    border: 5px solid #EEEEEC;
}

#map {
    overflow: visible!important;
}
.nav-tabs-primary .normal {
    background-color: #000 !important;
}

.services-icon {
    color: #28553d;
    margin-right: 15px;
}
.details-prop {
    margin-bottom: 10px;
    padding: 0;
}
.section-about {
    padding-top: 77px !important;
    padding-bottom: 145px !important;
}
.properties-max {
    width: 53%;
}
.skin-gap {
      margin-top: 176px;
}
.bottom-gap {
    padding-bottom: 121px;
}
.contact-form-margin {
   margin-right: 40px;
}
.email-height {
    line-height: 20px !important;
}
.email-marg {
    padding-bottom: 5px !important;
}
.properties-body-gap {
    padding-bottom: 20px;
}
.footer-phone {
    padding-top: 20px !important;
}
.home-control-left {
    top: 500px !important;
    left: 0px !important;
    height: 35px !important;
}
.home-control-right {
    top: 500px !important;
    margin-right: 0px !important;
    height: 35px !important;
}

@media (max-width: 600px) and (min-width: 569px){
    .map-controls {
        width: 209px;
        padding: 2px;
        top: 46%;
        left: 16%;
    }
}

@media (max-width: 568px) and (min-width: 415px) {
    .map-controls {
        width: 209px;
        padding: 2px;
        top: 46%;
        left: 16%;
    }
}

@media (max-width: 414px) and (min-width: 320px) {
    .map-controls {
        width: 209px;
        padding: 2px;
        top: 46%;
        left: 10%;
    }
    .tab-content {
        padding: 12px !important;
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width: 320px){
    .map-controls {
        width: 209px;
        padding: 2px;
        top: 46%;
        left: 8%;
    }
    .skin-gap {
        margin-top: 0px !important;
    }
}