.dropdow-mega-menu .nav,
.dropdow-mega-menu .collapse,
.dropdow-mega-menu .dropup,
.dropdow-mega-menu .dropdown {
  position: static;
}
.dropdow-mega-menu .container {
  position: relative;
}
.dropdow-mega-menu .dropdown-menu {
  left: auto;
}
.dropdow-mega-menu .dropdown-content {
  padding: 20px 30px;
}
.dropdow-mega-menu .dropdown.dropdown-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.dropdown-menu-mega {
  margin-top: -82px !important;
  width: 100% !important;
  left: 0px !important;
  background-color: rgba(34, 34, 37, 0.9);
  color: #fff;
}
@media (max-width: 1024px) and (min-width: 769px) {
  .dropdown-responsive {
    margin-left: 0;
    width: 48%;
  }
  .dropdown-responsive-left {
    width: 50%;
  }
  .dropdown-responsive-right {
    width: 50%;
  }
  .dropdown-content .list-inline > li a {
    font-size: 15px;
    font-weight: normal;
  }
}
@media (max-width: 768px) {
  .dropdown-menu-mega {
    background-color: #26282b !important;
    width: 100% !important;
    margin-bottom: 23px;
    margin-top: 28px !important;
  }
  .dropdown-responsive {
    margin-left: 0;
    width: 48%;
    float: left;
  }
  .dropdown-responsive-left {
    width: 50%;
    float: left;
  }
  .dropdown-responsive-right {
    width: 50%;
    float: left;
  }
  .dropdown-responsive-left-one {
    width: 50%;
    float: left;
  }
  .dropdown-responsive-right-two {
    width: 49%;
    float: left;
  }
  .dropdown-content .list-inline > li a {
    font-size: 15px;
  }
  .dropdown.open {
    width: 100%;
    background-color: #26282b !important;
  }
  .dropdown-content {
    padding-right: 0;
    padding-left: 0;
  }
  .dropdow-mega-menu .dropdown-content {
    padding: 0;
  }
}
